{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Product List</h1>
        <a href="{% url 'basket_detail' %}" class="btn btn-primary mb-3">View Basket</a>  <!-- Link to view basket -->

        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: ${{ product.price }}</p>
                        <p class="card-text">Stock: {{ product.stock }}</p>
                        <a href="{% url 'edit_product' product.id %}" class="btn btn-secondary">Edit</a>

                        <!-- Add to Basket Form -->
                        <form action="{% url 'basket_add' product.id %}" method="post" class="mt-2">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" class="form-control">
                                <input type="hidden" name="override" value="false">
                            </div>
                            <button type="submit" class="btn btn-primary">Add to basket</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
